# python cache
trufflehog3/__pycache__/
__pycache__/**
/__pycache__/**
**/*.pyc

# other cache
*coverage*
.*cache
.pytest_cache
.mypy_cache/

# build
build/**
dist/**
/*.egg-info/
*.egg-info/
/.idea/**
.idea/
venv/
venv/**